/* 
version 6.2.0
package JotCache
category Joomla 3.8
copyright (C) 2010-2018 Vladimir Kanich
license http://www.gnu.org/copyleft/gpl.html GNU/GPL
*/
/*noinspection CssUnusedSymbol*/
div.jotcache_top{text-align:center;background-color:navy;color:white;}
/*noinspection CssUnusedSymbol*/
p.jotcache_fix{
    position:fixed;top:0;margin:1px; right:15px;z-index:10;color:white;background-color:navy;border-radius: 10px;
    border: 5px double white;
}
p.jotcache_fix a{color:#FFFFFF !important;padding:0 20px;background-color:navy;text-decoration: none;}
p.jotcache_fix a:hover{color:yellow;}
