/**
 * @package Helix Ultimate Framework
 * @author JoomShaper https://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2018 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
 */
body, .sp-preloader {
  background-color: #fff;
  color: #222;
}
.sp-preloader > div {
  background: #cfb610;
}
.sp-preloader > div:after {
  background: #fff;
}
#sp-top-bar {
  background: #333;
  color: #222;
  height: 45px;
}
#sp-top-bar a {
  color: #222;
}
#sp-header {
  background: #cfb610;
}
a {
  color: #cfb610;
}
a:hover, a:focus, a:active {
  color: #cfb610;
}
.tags > li {
  display: inline-block;
}
.tags > li a {
  background: rgba(207, 182, 16, 0.1);
  color: #cfb610;
}
.tags > li a:hover {
  background: #cfb610;
}
.article-social-share .social-share-icon ul li a {
  color: #222;
}
.article-social-share .social-share-icon ul li a:hover, .article-social-share .social-share-icon ul li a:focus {
  background: #cfb610;
}
.pager > li a {
  border: 1px solid #ededed;
  color: #222;
}
.sp-megamenu-parent > li > a {
  color: #252525;
}
.sp-megamenu-parent > li:hover > a {
  background-color: #ffd200;
  color: #444 !important;
}
.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li.active:hover > a {
  color: #ffd200;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #fff;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #252525;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
  color: #ffd200;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
  color: #ffd200;
}
.sp-megamenu-parent .sp-mega-group > li > a {
  color: #252525;
}
#offcanvas-toggler > .fa {
  color: #252525;
}
#offcanvas-toggler > .fa:hover, #offcanvas-toggler > .fa:focus, #offcanvas-toggler > .fa:active {
  color: #ffd200;
}
.offcanvas-menu {
  background-color: #fff;
  color: #252525;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a, .offcanvas-menu .offcanvas-inner .sp-module ul > li span {
  color: #252525;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li a:focus, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:focus {
  color: #ffd200;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler, .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler {
  color: rgba(37, 37, 37, 0.5);
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul li a {
  color: rgba(37, 37, 37, 0.8);
}
.btn-primary, .sppb-btn-primary {
  border-color: #cfb610;
  background-color: #cfb610;
}
.btn-primary:hover, .sppb-btn-primary:hover {
  border-color: #cfb610;
  background-color: #cfb610;
}
ul.social-icons > li a:hover {
  color: #cfb610;
}
.sp-page-title {
  background: #cfb610;
}
.layout-boxed .body-innerwrapper {
  background: #fff;
}
.sp-module ul > li > a {
  color: #222;
}
.sp-module ul > li > a:hover {
  color: #cfb610;
}
.sp-module .latestnews > div > a {
  color: #222;
}
.sp-module .latestnews > div > a:hover {
  color: #cfb610;
}
.sp-module .tagscloud .tag-name:hover {
  background: #cfb610;
}
.search .btn-toolbar button {
  background: #cfb610;
}
#sp-footer, #sp-bottom {
  background: #171717;
  color: #222;
}
#sp-footer a, #sp-bottom a {
  color: #222;
}
#sp-footer a:hover, #sp-bottom a:hover, #sp-footer a:active, #sp-bottom a:active, #sp-footer a:focus, #sp-bottom a:focus {
  color: #fff;
}
#sp-bottom .sp-module-content .latestnews > li > a > span {
  color: #222;
}
.sp-comingsoon body {
  background-color: #cfb610;
}
.pagination > li > a, .pagination > li > span {
  color: #222;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #222;
}
.pagination > .active > a, .pagination > .active > span {
  border-color: #cfb610;
  background-color: #cfb610;
}
.pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: #cfb610;
  background-color: #cfb610;
}
.error-code, .coming-soon-number {
  color: #cfb610;
}
