/**
 * @package SJ Extra Slider for Content
 * @version 3.0.0
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 * @copyright (c) 2014 YouTech Company. All Rights Reserved.
 * @author YouTech Company http://www.smartaddons.com
 *
 */

.sj-extraslider {
    margin: 0;background-color: #fff;
}

.sj-extraslider .pre-text,
.sj-extraslider .post-text {
    margin: 10px 0;
}

.sj-extraslider .heading-title {
    border-bottom: 1px solid #e5e5e5;
    display: inline-flex;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 19px;
}

.sj-extraslider .extraslider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.sj-extraslider .item {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    -webkit-transition: .6s ease-in-out left;
    -moz-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.sj-extraslider .active,
.sj-extraslider .next,
.sj-extraslider .prev {
    display: block;
}

.sj-extraslider .active {
    left: 0;
}

.sj-extraslider .next,
.sj-extraslider .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.sj-extraslider .next {
    left: 100%;
}

.sj-extraslider .prev {
    left: -100%;
}

.sj-extraslider .next.left,
.sj-extraslider .prev.right {
    left: 0;
}

.sj-extraslider .active.left {
    left: -100%;
}

.sj-extraslider .active.right {
    left: 100%;
}

.sj-extraslider .item .line {
    width: 100%;
    float: left;
    border-top: 1px dotted;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.sj-extraslider .extraslider-inner .item-wrap {
    position: relative;
   
}

.sj-extraslider .extraslider-inner .item-wrap.style1 .item-info {
    color: #FFF;
    position: absolute;
    background: url(../images/background.png) repeat;
    bottom: 0;
    left: 0;
}

.sj-extraslider .extraslider-inner .item-wrap.style2 .item-info {
    position: relative;
}

.sj-extraslider .extraslider-inner .item-wrap {
    float: left;
    margin: 5px 0;
}

.sj-extraslider .extraslider-inner .item-wrap-inner {
    margin: 0px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.sj-extraslider .extraslider-inner .item-wrap.last {
    margin-right: 0px;
    padding-right: 0px;
}

.sj-extraslider .extraslider-inner {
    clear: both;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.sj-extraslider .extraslider-control {
    padding-top: 5px;
    text-align: right;
    float: right;
    /*  height:16px; */
}

.sj-extraslider .extraslider-control .button-next {
    background: url(../images/next_v2.png) no-repeat;
    width: 10px;
    height: 9px;
    float: left;
    outline: none;
    margin-bottom: 3px;
}

.sj-extraslider .extraslider-control .button-prev {
    background: url(../images/pre_v2.png) no-repeat;
    width: 9px;
    height: 9px;
    float: left;
    outline: none;
    margin-bottom: 3px;
}

.sj-extraslider .extraslider-control.button-type2 {
    padding-top: 0px;
    height: 24px;
}

.sj-extraslider .extraslider-control.button-type2 .button-prev {
    background: url(../images/imageNavLeft.png) no-repeat;
    width: 20px;
    height: 16px;
    outline: none;
}

.sj-extraslider .extraslider-control.button-type2 .button-next {
    background: url(../images/imageNavRight.png) no-repeat;
    width: 18px;
    height: 16px;
    outline: none;
}

.sj-extraslider .extraslider-inner .item-wrap img {
    width: 100%;
    max-width: 100%;
    border: none;
    box-shadow: #000 0em 0em 0em;
}

.sj-extraslider .extraslider-inner .item-wrap img:hover {
    box-shadow: #000 0em 0em 0em;
}

.sj-extraslider .item .line .item-wrap .item-description {

    line-height: 1.5em;
    margin-bottom: 5px;
}

.sj-extraslider .item .line .item-wrap .item-tags {
    margin-bottom: 5px;
}

.sj-extraslider .item .line .item-wrap.style4 .item-tags,
.sj-extraslider .item .line .item-wrap.style4 .item-tags a,
.sj-extraslider .item .line .item-wrap.style1 .item-title a,
.sj-extraslider .item .line .item-wrap.style1 .item-tags a,
.sj-extraslider .item .line .item-wrap.style9 .item-tags a,
.sj-extraslider .item .line .item-wrap.style10 .item-tags a,
.sj-extraslider .item .line .item-wrap.style11 .item-tags a,
.sj-extraslider .item .line .item-wrap.style1 .item-readmore a {
    color: #FFFFFF;
}

.sj-extraslider .item .line .item-wrap .item-readmore {
    margin-top: 10px !important;
}

.sj-extraslider .item .line .item-wrap .item-related,
.sj-extraslider .item .line .item-wrap .item-related ul {
    text-align: left !important;
}

.sj-extraslider .item .line .item-wrap .item-tags span {
    color: #FFFFFF !important;
}

.sj-extraslider .item .line .item-wrap .item-tags .tags span a {
    display: inline-block;
}

.sj-extraslider .item .line .item-wrap .item-readmore {

    text-align: right;
    margin-bottom: 5px;
}

.sj-extraslider .extraslider-control .nav-page {
    list-style: none;
    margin: 0px;
    float: left;
    padding-left: 0;
}

.sj-extraslider .extraslider-control .nav-page .page {
    float: left;
    background: none;
    padding: 0;
    outline: none;
}

.sj-extraslider .extraslider-control .button-page {
    background: url(../images/bottom-paging.png) no-repeat;
    width: 9px;
    height: 10px;
    float: left;
    padding-left: 3px;
    outline: none;
    margin-bottom: 3px;
}

.sj-extraslider .extraslider-control .button-page.sel {
    background-position: 0 -11px;
}

.sj-extraslider .nav-page.nav-under {
    list-style: none;
    margin: 0px;
    padding-top: 5px;
    text-align: center;

}

.sj-extraslider .nav-page.nav-under .page {
    display: inline-block;
    background: none;
    padding: 0;
}

.sj-extraslider .nav-page.nav-under .button-page {
    background: url(../images/bottom-paging.png) no-repeat;
    width: 7px;
    height: 10px;
    display: inline-block;
    padding-left: 3px;
    outline: none;
}

.sj-extraslider .nav-page.nav-under .button-page.sel {
    background-position: 0 -11px;
}
/*--------page------*/
.sj-extraslider .owl-controls .owl-nav{
    /*position: absolute;
    top: 7px;
    right: 35px;
    z-index: 99;*/
}
.sj-extraslider .owl-controls .owl-nav .owl-prev,
.sj-extraslider .owl-controls .owl-nav .owl-next{
    width: 28px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-indent: -9999px;
    cursor: pointer;
    position: relative;
    float: none;
    z-index: 99;
    border: 1px solid #ccc !important;
    zoom: 1;
    display: inline;
    margin: 10px;
    padding: 3px 10px;
    font-size: 25px;
    border-radius: 30px;
    opacity: 0.5;
    color: #cfb610;
}
.sj-extraslider .owl-controls .owl-nav > div:hover::before{
    color: #e03637;
}
.sj-extraslider .owl-controls .owl-controls {
    float: left;
    margin: 0;
}

.sj-extraslider .owl-controls .owl-prev{left: 0;}
.sj-extraslider .owl-controls .owl-prev:before{
    content: "\f105";
    font-family: FontAwesome;
    font-size: 28px;
}
.sj-extraslider .owl-controls .owl-next{right: 0;}
.sj-extraslider .owl-controls .owl-next:before{
    content: "\f104";
    font-family: FontAwesome;
    font-size: 28px;
}

.sj-extraslider .owl-controls .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.sj-extraslider .owl-dots .owl-dot {
    display: block;
    width: 6px;
    height: 6px;
    margin: 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #797575;
    cursor: pointer;
    vertical-align: middle;
}

.sj-extraslider .owl-dots .owl-dot:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.sj-extraslider.button-type2 .owl-controls{
    width: 100%;
}

.sj-extraslider.button-type2 .owl-nav{
    float: right;
    text-align: right;
    margin-bottom: 8px;
}

.sj-extraslider.button-type1 .owl-dots{
    float: left;
    height: auto;
    width: auto;
    position: static;
}


.sj-extraslider.button-type2 .owl-dots{
    text-align: center;
    margin-top: 10px;
    display: block;
}

.sj-extraslider .owl-dots .owl-dot.active {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.sj-extraslider .owl-dots .owl-dot:focus,
.sj-extraslider .owl-nav .owl-prev:focus,
.sj-extraslider .owl-nav .owl-next:focus {
    outline: none;
}

.sj-extraslider.button-type2  .owl-dots {
    text-align: center;
    margin-top: 10px;
    display: block;
}

.sj-extraslider.button-type2 .owl-prev,
.sj-extraslider.button-type2 .owl-next {
    background: none repeat scroll 0 0 #797575;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 18px;
    margin: 0 0 0 4px;
    opacity: 0.5;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sj-extraslider .owl-controls .owl-prev:hover,
.sj-extraslider .owl-controls .owl-next:hover {
    color: #77f9f1;
    filter: Alpha(Opacity=100);
    opacity: 1;
}

/*--------end page------*/



.sj-extraslider .item .line .item-wrap .item-price {
    font-family: Georgia;
    font-size: 18px;
    color: #F30000;
    margin: 0 0 5px 0;
}

.sj-extraslider.lt-ie9.extra-resp01-1 .extraslider-inner .item-wrap {
    width: 100%;
}

.sj-extraslider.lt-ie9.extra-resp01-2 .extraslider-inner .item-wrap {
    width: 50%;
}

.sj-extraslider.lt-ie9.extra-resp01-3 .extraslider-inner .item-wrap {
    width: 33.3295%;
}

.sj-extraslider.lt-ie9.extra-resp01-4 .extraslider-inner .item-wrap {
    width: 24.95%;
}

.sj-extraslider.lt-ie9.extra-resp01-5 .extraslider-inner .item-wrap {
    width: 20%;
}

.sj-extraslider.lt-ie9.extra-resp01-6 .extraslider-inner .item-wrap {
    width: 16.6595%;
}

.sj-extraslider.lt-ie9.extra-resp01-1 .clr1,
.sj-extraslider.lt-ie9.extra-resp01-2 .clr2,
.sj-extraslider.lt-ie9.extra-resp01-3 .clr3,
.sj-extraslider.lt-ie9.extra-resp01-4 .clr4,
.sj-extraslider.lt-ie9.extra-resp01-5 .clr5,
.sj-extraslider.lt-ie9.extra-resp01-6 .clr6 {
    clear: both;
}

