<div class="row-fluid">
    <div class="col-md-1 col-sm-12">ID: {{vendor.virtuemart_vendor_id}}</div>
    <div class="col-md-3 col-sm-12">Cửa hàng: {{vendor.vendor_store_name}}</div>
    <div class="col-md-3 col-sm-12">Địa chỉ: {{vendor.address}}</div>
    <div class="col-md-2 col-sm-12">Tỉnh: {{vendor.province}}</div>
    <div class="col-md-3 col-sm-12">Đ.Thoại: {{vendor.phone}}</div>
</div>